{% extends 'base.html' %}
{% block title %}
carrito
{% endblock title %}

{% block content %}
<!-- Articles -->
             <!-- Nota: Hacer 4 articulos por fila?-->
            <div class="row">
                <!-- Column -->
                <div class="col-8">
                    <div class="container-fluid">
                    <div class="row align-items-start">
                        <div class="col-md-2"><img src="/static/img/sampleCart.png" width="80" height="80"></div> <!-- Ajustar tamanio imagen -->
                        <div class="col-md-6">
                            <a>Nombre del articulo</a>
                        </div>
                        <div class="col-md-2">Precio</div>
                        <div class="col-md-2"><a type="button" class="btn btn-secondary">Borrar</a></div>
                    </div>
                    </div>
                </div>
                <!-- End Article -->
                <div class="col-4">
                    <h5>Resumen de compra</h5>
                    <hr>
                    <p>Producto $XXX</p>
                    <p>Envio Gratis</p>
                    <hr>
                    <a type="button" class="btn btn-success">Comprar</a>
                </div>
                <!-- Fin Column-->
            </div>
            <!-- End Articles -->
{% endblock content %}