{% extends 'base.html' %}
{% block title %}
login
{% endblock %}

{% block content %}
{% from "_macro.html" import login %}

<div class="card" style="width: 20rem;">
    <h3>Iniciar sesion</h3>
    <div class="card-body">
        <form name="loginUser" id="registerForm" method="POST">
            <label for="inputPassword5" class="form-label">Nombre de usuario</label>
            {{ login(form.username, class='form-control') }}

            <label for="inputPassword5" class="form-label">Password</label>
            {{ login(form.password, type='password' ,class='form-control') }}

            <button type="button submit" class="btn btn-success">Iniciar sesion</button>
        </form>
        <a type="button" class="btn btn-primary" href="{{url_for('register')}}">Registrarse</a>
    </div>
</div>
{% endblock content %}