{% extends 'base.html'%}
{% block title %}
PanGo
{% endblock %}

{% block content %}
{% from "_macro.html" import register %}

<div class="card" style="width: 20rem;">
    <h3>Cambiar datos</h3>
    <div class="card-body">
        <form name="registerNewUser" id="registerForm" method="POST">
            <label for="inputPassword5" class="form-label">Nombre de usuario</label>
            {{ register(form.username, class="form-control") }}

            <label for="inputPassword5" class="form-label">Correo</label>
            {{ register(form.mail, class="form-control") }}

            <label for="inputPassword5" class="form-label">Nombre (s)</label>
            {{ register(form.names, class="form-control") }}

            <label for="inputPassword5" class="form-label">Apellidos</label>
            {{ register(form.lastNames, class="form-control") }}

            <label for="inputPassword5" class="form-label">Contraseña</label>
            {{ register(form.password, type='password', class="form-control") }}

            <label for="inputPassword5" class="form-label">Confirmar contraseña</label>
            {{ register(form.password1, type='password', class="form-control") }}

            <label for="inputPassword5" class="form-label">Direccion</label>
            {{ register(form.address, class="form-control") }}

            <label for="inputPassword5" class="form-label">RFC</label>
            {{ register(form.rfc, class="form-control") }}

            <button type="button submit" class="btn btn-success">Registrarse</button>
        </form>
        <a type="button" class="btn btn-danger" href="{{ url_for('logout') }}" >Logout</a>
    </div>
</div>

{% endblock content %}